.content-signin {
  padding-top: 60px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 25px;
  margin: auto;
  text-align: center;
  height: auto;
  min-height: 500px;  
  border-radius: 6px;
  border: 1px solid rgb(242, 58, 46);
}